# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]

# -------------------------------
# Virtual Environment
# -------------------------------
.venv/

# -------------------------------
# VS Code
# -------------------------------
.vscode/

# -------------------------------
# Operating System
# -------------------------------
Thumbs.db
.DS_Store

# -------------------------------
# Exported Reports
# -------------------------------
exports/

# -------------------------------
# Historical Exchange Rate Data
# -------------------------------
data/

# -------------------------------
# Log Files
# -------------------------------
*.log
logs/

#-------------------------------
#  TELEGRAM BOT
#-------------------------------
.env 